<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <script>
    window.pokemonTypes = [];
    <% Pokemon::TYPES.each do |type| %>
      pokemonTypes.push("<%= type.html_safe %>");
    <% end %>
  </script>

  <%= yield %>

</body>
</html>
